<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<!-- Η διεύθυνση του relay server -->
		<add key="RelayServerUrl" value="http://192.168.14.121:5175/api" />

		<!-- Μοναδικό αναγνωριστικό για την υπηρεσία -->
		<add key="ServiceId" value="CTO_SERVICE" />

		<!-- Μυστικό κλειδί για την αυθεντικοποίηση της υπηρεσίας (πρέπει να είναι μεγάλο και τυχαίο) -->
		<add key="SecretKey" value="\ql4CkI!{sI\W[*_1x]{A+Gw[vw+A\ti" />

		<!-- Connection string για τον SQL Server -->
		<add key="SqlConnectionString" value="Server=demosrv,1433;Database=webpos;User Id=sa;Password=hitprotel;trustservercertificate=true;" />

		<!-- Χρόνος αναμονής μεταξύ των ελέγχων για νέα queries (σε milliseconds) -->
		<add key="PollingIntervalMs" value="5000" />

		<add key="DisplayName" value="Primary SQL Server" />
		<add key="Description" value="SQL Server in Finance Department" />
		<add key="Version" value="1.0.0" />
	</appSettings>
</configuration>